<article>
    <header class="article-header">
        <div class="placeholder"></div>
        <h1 class="article-title">
            <a href="<%- url_for(post.path) %>">
                <%- post.title %>
            </a>
        </h1>

        <section class="article-meta">
            <p class="article-date">
                Posted <%- date(post.date, 'MMMM DD YYYY') %>
            </p>
        </section>
    </header>

    <section class="article-entry">
        <%- post.content %>
    </section>
</article>