<head>
    <meta charset="utf-8">
    <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <link rel="shortcut icon" href="<%- theme.favicon %>">
    <%- css('css/style') %>
</head>
