<head>
    <meta charset="utf-8">
    <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <link rel="shortcut icon" href="<%- theme.favicon %>">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118169380-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118169380-1');
    </script>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <%- css('css/style') %> 
</head>
