<header class="header <% if(theme.headerTheme == 'light' || theme.headerTheme == 'Light'){ %>light<%} %>" <% if(theme.backgroundImage){ %> style="background-image: url('<%- theme.backgroundImage %>')" <% } %>>
    <div class="placeholder"></div>
    <div class="content">
        <div class="layout">
            <h1 class="title"><%- config.title %></h1>
            <h3 class="subtitle"><%- config.subtitle %></h3>
        </div>
    </div>
</header>