<head>
    <meta charset="utf-8">
    <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="144x144" href="/blog/favicon.png">
    <link rel="icon" type="image/png" href="/blog/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <%- css('css/style') %> 
</head>
