.page-nav {
  margin-top: $article-gutter;
  font-size: $page-nav-font-size;

  $page-nav-color: #666;
  .page-number {
    padding: $gutter / 3;
    color: $page-nav-color;
    &:hover {
      color: #777;
      transition: all 0.1s ease-in 0s;
    }
  }
  .current {
    // color: $page-nav-current-page;
    color: inherit;
  }

  .extend {
    padding: 0;
    color: $page-nav-color;
    &.prev {
      padding-right: $gutter / 2;
    }
    &.next {
      padding-left: $gutter / 2;
    }
    &:hover {
      color: #777;
      transition: all 0.1s ease-in 0s;
    }
  }
}