<main class="archive">
    <div class="placeholder"></div>
    <% page.posts.each(function(post){ %>
    <%- partial('./_public/archive', {post: post, index: false}) %>
    <% }) %>

    <% if(page.total > 1){ %>
    <%- partial('./_public/paginator') %>
    <% } %>
</main>
<%- partial('./_public/footer') %>