<nav class="navbar">
    <div class="layout">
        <div class="content <% if (((theme.navbarTheme == 'light' || theme.navbarTheme == 'Light') && is_home()) || (!theme.backgroundImage && (theme.headerTheme == 'light' || theme.headerTheme == 'Light') && is_home())){ %>light<% } %>">
            <% for (var i in theme.nav){ %>
            <% if (url_for(theme.nav[i]) == '/' + path.replace('/index.html', '') || (url_for(theme.nav[i]) == '/.' && is_home())) { %>
            <a class="active" href="<%- url_for(theme.nav[i]) %>"><%= i %></a>
            <% } else { %>
            <a href="<%- url_for(theme.nav[i]) %>"><%= i %></a>
            <% } %>
            <% } %>
        </div>
    </div>
</nav>
