.footer {
  height: $footer-height;
  margin: $article-gutter auto 0;
  padding: 0 $gutter;
  color: $footer-color;
  font-size: 0.9rem;
  @media (min-width: 768px) {
    max-width: 640px;
  }
  @media (min-width: 1024px) {
    max-width: $main-content-width;
  }
  @media (min-width: 1200px) {
    max-width: $main-content-width;
  }
  p {
    margin: 0;
    padding: $gutter / 5;
    font-weight: 300;
    font-style: normal;
    color: #ccc;
  }
  a {
    color: $footer-color;
  }
}
