main.post {
  article {
    line-height: $article-line-height;
  }

  article.with-bg {
    .article-title,
    .article-meta {
      color: #f6f6f6;
    }
    .navbar {
      @media screen and (min-width: 1800px) {
        background: #333;
        a {
          color: #f6f6f6;
        }
      }
      .layout {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
  article:not(.with-bg){
    .header-wrapper{
      background: #f6f6f6;
    }
  }


  .article-entry {
    position: relative;
    z-index: 10;
    max-width: $main-content-width;
    margin: $gutter auto 0;
    padding: $gutter;
    color: #333;
    a {
      color: $color-belizeHole;
    }
    h1,
    .h1 {
      font-size: 2.25rem;
    }

    h2,
    .h2 {
      font-size: 2rem;
    }

    h3,
    .h3 {
      font-size: 1.6rem;
    }

    h4,
    .h4 {
      font-size: 1.3rem;
    }

    h5,
    .h5 {
      font-size: 1.25rem;
    }

    h6,
    .h6 {
      font-size: 1.2rem;
    }

    h2,
    h3 {
      border-bottom: 1px solid #e7e7e7;
      padding-bottom: 8px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      margin-bottom: 0.5rem;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
    }
    blockquote {
      background: $color-cloud;
      color: #999;
      margin-left: 0;
      margin-right: 0;
      padding: 5px 0 5px 15px;
      border-left: 4px solid #999;
      p {
        margin: 0;
      }
    }
    strong {
      color: $theme-red;
    }
    s {
      text-decoration-style: double !important;
    }
  }

  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .article-header {
    height: $header-height;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #f6f6f6 no-repeat center center;
    padding-bottom: 20px;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-width: 1800px;
    width: 100%;
  }
  .header-flow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0) 40%
    );
    @media (max-width: 767px) {
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.2) 40%,
        rgba(0, 0, 0, 0) 50%
      );
    }
  }

  .article-title {
    margin: 0 auto;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 $gutter;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 5px;
    width: 100%;
    @media (min-width: 768px) {
      max-width: 800px;
      font-size: 32px;
    }
    @media (min-width: 1024px) {
      max-width: $main-content-width;
    }
    @media (min-width: 1200px) {
      max-width: $main-content-width;
    }
  }

  .article-title,
  .article-meta {
    position: relative;
    z-index: 5;
  }

  .article-meta {
    color: $article-date-color;
  }
  .article-date {
    margin: 0 auto;
    max-width: $main-content-width;
    padding: 0 $gutter;
    font-weight: 300;
  }

  .article-comment {
    margin-top: 6 * $gutter;
  }

  .article-comments {
    margin: 15px auto;
    max-width: 800px;
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    @media screen and (max-width: 800px) {
      padding: 5px 15px;
    }
  }
}
