div[contentEditable]:empty:not(:focus):before {
  content: attr(placeholder);
  color: #999;
  font-weight: 300;
}

div[contentEditable]{
  outline: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 2px
}